* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 350px;
  height: 50vh;
  background: gray;
  border-radius: 5px;
  margin-top: 10rem;
}
.display-container {
  border: 1px solid black;
  width: 98%;
}

#display {
  width: 100%;
  height: 4rem;
}

#secondary-display {
  width: 100%;
  height: 2.5rem;
}

input {
  font-family: 'Roboto', sans-serif;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  text-align: right;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Roboto', sans-serif;

  gap: 0.1rem;
  width: 98%;
  height: 77%;
  font-size: 4rem;
}

.btn {
  font-family: 'Roboto', sans-serif;

  font-size: 1.5rem;
}

#clear {
  grid-column: 1 / span 2;
}

#zero {
  grid-column: 1 / span 2;
}

#equals {
  grid-row: span 2;
}
